<!DOCTYPE html>
<html>
<body>
<head>
<style>
   body{
    background-image: url("static/p.jpg")
   }
</style>
</head>
<h1><center>CHILD 4-11(AUTISM SPECTRUM DISORDER TEST)</center></h1>

<form action="{{ url_for('result') }}" method="post">
  <p>1. She/he often notices small sounds when others do not:</p>
  <input type="radio" id="option1" name="opt1" value="Definitely Agree">
  <label for="Definitely Agree">Definitely Agree</label>
  <input type="radio" id="option2" name="opt1" value="Slightly Agree">
  <label for="Slightly Agree">Slightly Agree</label>
  <input type="radio" id="option3" name="opt1" value="Slightly Disagree">
  <label for="Slightly Disagree">Slightly disagree</label>
  <input type="radio" id="option4" name="opt1" value="Definitely Disagree">
  <label for="Definitely Disagree">Definitely Disagree</label>

  <br><br>  

  <p>2. She/he usually concentrates more on the whole picture, rather than the small details</p>
  <input type="radio" id="option1" name="opt2" value="Definitely Agree">
  <label for="Definitely Agree">Definitely Agree</label>
  <input type="radio" id="option2" name="opt2" value="Slightly Agree">
  <label for="Slightly Agree">Slightly Agree</label>
  <input type="radio" id="option3" name="opt2" value="Slightly Disagree">
  <label for="Slightly Disagree">Slightly disagree</label>
  <input type="radio" id="option4" name="opt2" value="Definitely Disagree">
  <label for="Definitely Disagree">Definitely Disagree</label>

  <br><br> 

  <p>3. In a social group, s/he can easily keep track of several different people’s conversations</p>
  <input type="radio" id="option1" name="opt3" value="Definitely Agree">
  <label for="Definitely Agree">Definitely Agree</label>
  <input type="radio" id="option2" name="opt3" value="Slightly Agree">
  <label for="Slightly Agree">Slightly Agree</label>
  <input type="radio" id="option3" name="opt3" value="Slightly Disagree">
  <label for="Slightly Disagree">Slightly disagree</label>
  <input type="radio" id="option4" name="opt3" value="Definitely Disagree">
  <label for="Definitely Disagree">Definitely Disagree</label>

  <br><br> 

  <p>4. She/he finds it easy to go back and forth between different activities</p>
  <input type="radio" id="option1" name="opt4" value="Definitely Agree">
  <label for="Definitely Agree">Definitely Agree</label>
  <input type="radio" id="option2" name="opt4" value="Slightly Agree">
  <label for="Slightly Agree">Slightly Agree</label>
  <input type="radio" id="option3" name="opt4" value="Slightly Disagree">
  <label for="Slightly Disagree">Slightly disagree</label>
  <input type="radio" id="option4" name="opt4" value="Definitely Disagree">
  <label for="Definitely Disagree">Definitely Disagree</label>

  <br><br> 

  <p>5. She/he doesn’t know how to keep a conversation going with his/her peers</p>
  <input type="radio" id="option1" name="opt5" value="Definitely Agree">
  <label for="Definitely Agree">Definitely Agree</label>
  <input type="radio" id="option2" name="opt5" value="Slightly Agree">
  <label for="Slightly Agree">Slightly Agree</label>
  <input type="radio" id="option3" name="opt5" value="Slightly Disagree">
  <label for="Slightly Disagree">Slightly disagree</label>
  <input type="radio" id="option4" name="opt5" value="Definitely Disagree">
  <label for="Definitely Disagree">Definitely Disagree</label>

  <br><br>

  <p>6. She/he is good at social chit-chat</p>
  <input type="radio" id="option1" name="opt6" value="Definitely Agree">
  <label for="Definitely Agree">Definitely Agree</label>
  <input type="radio" id="option2" name="opt6" value="Slightly Agree">
  <label for="Slightly Agree">Slightly Agree</label>
  <input type="radio" id="option3" name="opt6" value="Slightly Disagree">
  <label for="Slightly Disagree">Slightly disagree</label>
  <input type="radio" id="option4" name="opt6" value="Definitely Disagree">
  <label for="Definitely Disagree">Definitely Disagree</label>

  <br><br>

  <p>7. When she/he is read a story, s/he finds it difficult to work out the character’s intentions or feelings</p>
  <input type="radio" id="option1" name="opt7" value="Definitely Agree">
  <label for="Definitely Agree">Definitely Agree</label>
  <input type="radio" id="option2" name="opt7" value="Slightly Agree">
  <label for="Slightly Agree">Slightly Agree</label>
  <input type="radio" id="option3" name="opt7" value="Slightly Disagree">
  <label for="Slightly Disagree">Slightly disagree</label>
  <input type="radio" id="option4" name="opt7" value="Definitely Disagree">
  <label for="Definitely Disagree">Definitely Disagree</label>

  <br><br> 

  <p>8. When she/he was in preschool, she/he used to enjoy playing games involving pretending with other children</p>
  <input type="radio" id="option1" name="opt8" value="Definitely Agree">
  <label for="Definitely Agree">Definitely Agree</label>
  <input type="radio" id="option2" name="opt8" value="Slightly Agree">
  <label for="Slightly Agree">Slightly Agree</label>
  <input type="radio" id="option3" name="opt8" value="Slightly Disagree">
  <label for="Slightly Disagree">Slightly disagree</label>
  <input type="radio" id="option4" name="opt8" value="Definitely Disagree">
  <label for="Definitely Disagree">Definitely Disagree</label>

  <br><br> 

  <p>9. She/he finds it easy to work out what someone is thinking or feeling just by looking at their face</p>
  <input type="radio" id="option1" name="opt9" value="Definitely Agree">
  <label for="Definitely Agree">Definitely Agree</label>
  <input type="radio" id="option2" name="opt9" value="Slightly Agree">
  <label for="Slightly Agree">Slightly Agree</label>
  <input type="radio" id="option3" name="opt9" value="Slightly Disagree">
  <label for="Slightly Disagree">Slightly disagree</label>
  <input type="radio" id="option4" name="opt9" value="Definitely Disagree">
  <label for="Definitely Disagree">Definitely Disagree</label>

  <br><br>

  <p>10. She/he finds it hard to make new friends</p>
  <input type="radio" id="option1" name="opt0" value="Definitely Agree">
  <label for="Definitely Agree">Definitely Agree</label>
  <input type="radio" id="option2" name="opt0" value="Slightly Agree">
  <label for="Slightly Agree">Slightly Agree</label>
  <input type="radio" id="option3" name="opt0" value="Slightly Disagree">
  <label for="Slightly Disagree">Slightly disagree</label>
  <input type="radio" id="option4" name="opt0" value="Definitely Disagree">
  <label for="Definitely Disagree">Definitely Disagree</label>

  <br><br>

  <center>
    <input type="submit" value="Submit">
  </center>
<br><br>
</form>

</body>
</html>
