<html>
<head>
<title>Suggested_organization</title>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>
<body style="background-color:lightblue;">

<h2 align="center">LIST OF ORGANIZATIONS AND HELP-GROUPS</h2>

<table style="width:100%">
  <colgroup>
    <col span="1" style="background-color: violet">
    <col span="2" style="background-color: pink">
  </colgroup>
  <tr>
    <th>S.NO</th>
    <th>Name of the Organization </th>
  </tr>
  <tr>
    <td>1.</td>
    <td><a href="http://www.asap.org.in/">http://www.asap.org.in/</a></td>
  </tr>  
  <tr>
    <td>2.</td>
    <td><a href="https://www.centerforautism.com/">https://www.centerforautism.com/</a></td>
  </tr>
  <tr>
    <td>3.</td>
    <td><a href="http://tamana.org/">http://tamana.org/</a></td>
  </tr>
  <tr>
    <td>4.</td>
    <td><a href="http://www.ashahai.com/index.html">http://www.ashahai.com/index.html</a></td>
  </tr>
  <tr>
    <td>5.</td>
    <td><a href="https://www.ace-india.org/">https://www.ace-india.org/</a></td>
  </tr>
  <tr>
    <td>6.</td>
    <td><a href="http://www.aaf.org.in//">http://www.aaf.org.in/</a></td>
  </tr>
  <tr>
    <td>7.</td>
    <td><a href="http://www.autism-india.org/">http://www.autism-india.org/</a></td>
  </tr>
  <tr>
    <td>8.</td>
    <td><a href="http://www.communicationdeall.com/">http://www.communicationdeall.com/</a></td>
  </tr>
  <tr>
    <td>9.</td>
    <td><a href="http://www.adarshrehab.org/">http://www.adarshrehab.org/</a></td>
  </tr>
  <tr>
    <td>10.</td>
    <td><a href="http://www.ashaforautism.com/">http://www.ashaforautism.com/</a></td>
  </tr>
  <tr>
    <td>11.</td>
    <td><a href="http://www.darpanautism.org/">http://www.darpanautism.org/</a></td>
  </tr>
  <tr>
    <td>12.</td>
    <td><a href="http://www.tanayfoundation.org/">http://www.tanayfoundation.org/</a></td>
  </tr>
  <tr>
    <td>13.</td>
    <td><a href="http://www.prafulloorja.org/">http://www.prafulloorja.org/</a></td>
  </tr>
  <tr>
    <td>14.</td>
    <td><a href="http://www.sparksautismschool.com/hostel.php">http://www.sparksautismschool.com/hostel.php</a></td>
  </tr>
  <tr>
    <td>15.</td>
    <td><a href="https://www.autismconnect.com/directory/sai-residential-school-in-india-17537-directory">https://www.autismconnect.com/directory/sai-residential-school-in-india-17537-directory</a></td>
  </tr>
  <tr>
    <td>16.</td>
    <td><a href="https://www.saathire.com/17GT/vatsalyam-centre-for-autism/">https://www.saathire.com/17GT/vatsalyam-centre-for-autism/</a></td>
  </tr>
  <tr>
    <td>17.</td>
    <td><a href="https://www.middletownautism.com/">https://www.middletownautism.com/</a></td>
  </tr>
  <tr>
    <td>18.</td>
    <td><a href="http://autismresourcecenter.in/frmResorcCenter.aspx?frmMapId=TN">http://autismresourcecenter.in/frmResorcCenter.aspx?frmMapId=TN</a></td>
  </tr>
  <tr>
    <td>19.</td>
    <td><a href="http://www.vatsalyam.in/">http://www.vatsalyam.in/</a></td>
  </tr>
  <tr>
    <td>20.</td>
    <td><a href="http://www.prasannaautismcentre.com/">http://www.prasannaautismcentre.com/</a></td>
  </tr>
  <tr>
    <td>21.</td>
    <td><a href="https://www.autismconnect.com/directory/autism-society-of-india-in-india-27406-directory">https://www.autismconnect.com/directory/autism-society-of-india-in-india-27406-directory</a></td>
  </tr>
  <tr>
    <td>22.</td>
    <td><a href="http://ummeed.org/">http://ummeed.org/</a></td>
  </tr>
  <tr>
    <td>23.</td>
    <td><a href="https://www.keyautismservices.com/">https://www.keyautismservices.com/</a></td>
  </tr>
  <tr>
    <td>24.</td>
    <td><a href="https://ca.indeed.com/cmp/Florida-Autism-Center">https://ca.indeed.com/cmp/Florida-Autism-Center</a></td>
  </tr>
  <tr>
    <td>25.</td>
    <td><a href="https://www.rockautism.org/">https://www.rockautism.org/</a></td>
  </tr>  
  <tr>
    <td>26.</td>
    <td><a href="https://www.wecaresupport.org/psychological-services/psychological-testing-and-assessment">https://www.wecaresupport.org/psychological-services/psychological-testing-and-assessment</a></td>
  </tr>  
  <tr>
    <td>27.</td>
    <td><a href="https://amritfoundationofindia.in/">https://amritfoundationofindia.in/</a></td>
  </tr>  
  <tr>
    <td>28.</td>
    <td><a href="https://www.autism.org/">https://www.autism.org/</a></td>
  </tr>
</table>


</body>
</html>