<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
          background-image: url("static/p.jpg")
        }
    </style>
</head>
<body>
    
    <h1 style="margin-top: 90px;"><center> THANK YOU FOR ATTENDING THE TEST</center></h1>

    <div style="width:50%; margin-top:70px; margin-left:auto; margin-right:auto;">
    <div id="result">
        <p>Prediction: {{ pred }}</p>
        <p>Class of Prediction: {{ r }}</p>
    </div>
    </div>
<script>
    
    if(parseInt('{{ pred }}'))
    {
        s=1000*10;
        window.setTimeout(function(){
            window.location.href="{{ url_for('org') }}";
        },s)
    }
</script>
</body>
</html>